In [83]:
import psycopg2
import pandas as pd
import numpy as np 
from apyori import apriori
import matplotlib.pyplot as plt

In [4]:
def connection(user,pwd,host,port,db):
    try:
    
       connection = psycopg2.connect(user=user,
                                  password=pwd,
                                  host=host,
                                  port=port,
                                  database=db)
       cursor = connection.cursor()
       return cursor
    except (Exception, psycopg2.Error) as error :
        print ("Error while fetching data from PostgreSQL", error)

In [5]:
user ="postgres"
pwd = "1997"
host ="localhost"
port = "5432"
db= "postgres"

In [64]:
query = "select initialAA,finalAA from snp_db "
def select(q):
    c = connection(user,pwd,host,port,db)
    c.execute(q)
    arr = np.array(c.fetchall())
    return arr

In [56]:
snp =pd.DataFrame(select(query))
snp.columns=[ 'initialAA', 'finalAA']

In [9]:
snp

      initialAA finalAA
0           His     Arg
1           His     Arg
2           Val     Met
3           Ala     Ser
4           Gly     Arg
...         ...     ...
78242       Val     Leu
78243       Phe     Leu
78244       arg     his
78245       his     Arg
78246       Are     erA

[78247 rows x 2 columns]

In [186]:
# snps = []
# for row in range(0,len(snp)):
#     snps.append([str(snp.values[row,j]) for j in range(0,2)])

In [209]:
# association_rules = apriori(snps,min_support=0.0093,min_confidence=0.250,min_lift =3,min_length=2)
# association_results =list(association_rules)
# pd.DataFrame(association_results)

        items   support                                 ordered_statistics
0  (Asp, Asn)  0.020756  [((Asn), (Asp), 0.28361858190709044, 3.3978643...
1  (Tyr, Cys)  0.021931  [((Cys), (Tyr), 0.25475059382422804, 4.9436273...
2  (Glu, Lys)  0.031555  [((Glu), (Lys), 0.36944486009277266, 5.0633812...

In [210]:
association_results

[RelationRecord(items=frozenset({'Asp', 'Asn'}), support=0.020755585092786667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Asn'}), items_add=frozenset({'Asp'}), confidence=0.28361858190709044, lift=3.3978643887212345)]),
 RelationRecord(items=frozenset({'Tyr', 'Cys'}), support=0.02193139410050611, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cys'}), items_add=frozenset({'Tyr'}), confidence=0.25475059382422804, lift=4.943627347019568), OrderedStatistic(items_base=frozenset({'Tyr'}), items_add=frozenset({'Cys'}), confidence=0.42559523809523814, lift=4.943627347019569)]),
 RelationRecord(items=frozenset({'Glu', 'Lys'}), support=0.031555135218035886, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Glu'}), items_add=frozenset({'Lys'}), confidence=0.36944486009277266, lift=5.06338126346101), OrderedStatistic(items_base=frozenset({'Lys'}), items_add=frozenset({'Glu'}), confidence=0.4324750394114556, lift=5.06338126346101)])]

In [221]:
# finals = []
# for item in association_results:                                          
# #     to display the rule, the support, the confidence, and lift for each rule in a more clear way:

#     # first index of the inner list
#     # Contains base item and add item
#     pair = item[0] 
#     items = [x for x in pair]
#     print("Rule: " + items[0] + " -> " + items[1])
#     finals.append((items[0],items[1]))

#     #second index of the inner list
#     print("Support: " + str(item[1]))

#     #third index of the list located at 0th
#     #of the third index of the inner list

#     print("Confidence: " + str(item[2][0][2]))
#     print("Lift: " + str(item[2][0][3]))
#     print("=====================================")

Rule: Asp -> Asn
Support: 0.020755585092786667
Confidence: 0.28361858190709044
Lift: 3.3978643887212345
=====================================
Rule: Tyr -> Cys
Support: 0.02193139410050611
Confidence: 0.25475059382422804
Lift: 4.943627347019568
=====================================
Rule: Glu -> Lys
Support: 0.031555135218035886
Confidence: 0.36944486009277266
Lift: 5.06338126346101
=====================================

# Let's try to display the "Type_of_Variant"

In [223]:
finals #this is the association rules that we obtained from the database

[('Asp', 'Asn'), ('Tyr', 'Cys'), ('Glu', 'Lys')]

### Here we will try to display the database given initial and final amino acids are as obtained

In [50]:
final_Queries = ["select type_of_variant, count(main_gene_name) from snp_db where initialaa='Asp' and finalaa = 'Asn' group by type_of_variant;",
                "select type_of_variant, count(main_gene_name) from snp_db where initialaa='Tyr' and finalaa = 'Cys' group by type_of_variant; ",
                 "select type_of_variant, count(main_gene_name) from snp_db where initialaa='Glu' and finalaa = 'Lys' group by type_of_variant;"]

In [51]:
df1 = pd.DataFrame(select(final_Queries[0]))
df1.columns =['Type_of_Variant', 'Counts']
df2 = pd.DataFrame(select(final_Queries[1]))
df2.columns =['Type_of_Variant', 'Counts']
df3 = pd.DataFrame(select(final_Queries[2]))
df3.columns =['Type_of_Variant', 'Counts']

Out of the above three pais of Assiciations, we can see that 2/3,  results appear to have shown that when these particular two changes (Asp to Asn and Glu to Asn) occur, the most they gave rise to a bit more of dieases and polymorphisms

# Data Visualization

## Select AA chanthat causes the  Disease

Change from Asp to Asn gives rise to the following Variation, group by counts of variation

In [23]:
df1

  Type_of_Variant  Counts
0         Disease     457
1    Polymorphism     592
2    Unclassified     147

Change from Tyr to Cys gives rise to the following Variation, group by counts of variation

In [24]:
df2

  Type_of_Variant  Counts
0         Disease     574
1    Polymorphism     285
2    Unclassified      80

Change from Glu to Lys gives rise to the following Variation, group by counts of variation

In [25]:
df3

  Type_of_Variant  Counts
0         Disease     785
1    Polymorphism     813
2    Unclassified     214

In [119]:
query = "select position_of_change from snp_db where initialaa='Tyr' and  finalaa= 'Cys';"
pos=select(query)
pos.max()

15635

In [124]:

counts, bins = np.histogram(pos,3)
# plt.hist(bins[:-1], bins, weights=counts)
[print(item) for item in bins]

[print(count) for count in counts]

2.0
5213.0
10424.0
15635.0
937
1
1

[None, None, None]