# (DEMO) Report for ICCS240: DBMS class project: SNPDB
*Group Members*: Kriangsak T., Hasdin,G.
This report refers to this attached repository : [SNPBD](https://github.com/Kriangsak1997/DatabaseClassProject)

### Please treat this to be a small demo...
First of all, we used docker to run out protgresql database: used commands can be found in the file named "command_involvingDockerandPSQL.txt". 
In this file, you will find what is used to map data to the container.... since i have no time (more like brain) to build a proper image for it.... Please see the following

In [6]:
# filepath  = '/Users/kriangsak1997/Documents/MUIC/Term8/DBMS/Project/command_involvingDockerandPSQL.txt'
# with open(filepath) as fp:
#    line = fp.readline()
#    cnt = 1
#    while line:
#        print("Line {}: {}".format(cnt, line.strip()))
#        line = fp.readline()
#        cnt += 1

# Connect to the Database
After having created the database and import the file into it, we will connect to the database using Java. 
Here with help of **Maven** dependencies, it allows to very easily connect to our database, we can dp so by
creating a Maven project.
Then access the file: *pom.xml* <br>
and we add the dependencies: <br>
> </dependency/> 
>>         </groupId/> org.postgresql</groupId/> 
>>          </artifactId/>postgresql</artifactId/> 
>>          </version/>42.2.10</version/> 
> </dependency/> 
<br>

# What is SNP?
 Here, please let me introtduce you with our schema. In case you have not heard of Single Nucleotide Polymorphisms (SNPs). <br>
**Single nucleotide polymorphisms**, frequently called SNPs (pronounced “snips”), are the most common type of genetic variation among people. Each SNP represents a difference in a single DNA building block, called a nucleotide. For example, a SNP may replace the nucleotide cytosine (C) with the nucleotide thymine (T) in a certain stretch of DNA. <br>

*SNPs* occur normally throughout a person’s DNA. They occur almost once in every 1,000 nucleotides on average, which means there are roughly 4 to 5 million SNPs in a person's genome. These variations may be unique or occur in many individuals; scientists have found more than 100 million SNPs in populations around the world. Most commonly, these variations are found in the DNA between genes. They can act as biological markers, helping scientists locate genes that are associated with disease. When SNPs occur within a gene or in a regulatory region near a gene, they may play a more direct role in disease by affecting the gene’s function.

Most SNPs have no effect on health or development. Some of these genetic differences, however, have proven to be very important in the study of human health. Researchers have found SNPs that may help predict an individual’s response to certain drugs, susceptibility to environmental factors such as toxins, and risk of developing particular diseases. SNPs can also be used to track the inheritance of disease genes within families. Future studies will work to identify SNPs associated with complex diseases such as heart disease, diabetes, and cancer.
[source](https://ghr.nlm.nih.gov/primer/genomicresearch/snp)

# Schema Detail
We have created the following schema:
Note that before inserting the data into our database, we needed to do a bit of porcessing to extract our data out from the origal input data, [please refer to](https://github.com/Kriangsak1997/DatabaseClassProject/blob/master/notebooks/processing.ipynb)

**SNP_DB**(Main_Gene_name  varchar, initialAA varchar,finalAA varchar,position_of_Change varchar,Type_of_Variant varchar,dbSNP varchar,Disease_name varchar)

That is, 
 >  *Main_Gene_name*  contains the name of the gene for each record, taking *strings* of gene names <br>
 
 > *initialAA* contains the amino acid (AA) abbreviation before a change occurs , taking *strings* of AA ,br>
 
 > *finalAA* contains the amino acid (AA) abbreviation after a change occurs , taking *strings* of AA <br>
 
 > *position_of_Change* contains the position of AA (in the change of AA chains of a gene), taking **string** of position, which later will be altered to integer type <br>
 
 > *Type_of_Variant* contains the type of variants for which an SNP causes, taking *strings* of variant types <br>
 
 > *dbSNP* take takes in database code used to access more information regarding a change in NCBI SNP database, taking strings of DB-code <br>
 
 > *Disease_name* contains the name of diseases, if applicable, caused by SNPs, taking *strings* of disease names.

### Abbreviations and Full names
The following dataframe displays to you the full AA names corresponding to abbreviations used in our database

In [7]:
AminoAcid_name =pd.read_csv('/Users/kriangsak1997/Documents/MUIC/Term8/DBMS/Project/aanames.csv')
AminoAcid_name

   Abbreviation                   Ful name
0           Ala                    Alanine
1           Arg                   Arginine
2           Asn                 Asparagine
3           Asp  Aspartic acid (Aspartate)
4           Cys                   Cysteine
5           Gln                  Glutamine
6           Glu  Glutamic acid (Glutamate)
7           Gly                    Glycine
8           His                  Histidine
9           Ile                 Isoleucine
10          Leu                    Leucine
11          Lys                     Lysine
12          Met                 Methionine
13          Phe              Phenylalanine
14          Pro                    Proline
15          Ser                     Serine
16          Thr                  Threonine
17          Trp                 Tryptophan
18          Tyr                   Tyrosine
19          Val                     Valine


## Now we can query from out database for all: CRUD queries
From this, we take a data-analytic approach to our database. That is, we will apply a small mining algorithm on the given dataset.

# Associative Rule Mining with Apriori Algorithm
for those wishing to understand more about this concept, [consult](https://blog.usejournal.com/association-rule-mining-apriori-algorithm-c517f8d7c54c)
There are a few things to introduce for those new to Associative Rule Mining or, perhaps also, Apriori Algorithm. 
<br>
the results of out experiments is in the file: notebooks/Association Rule Mining with Apriori algorithm.ipynb
with a few tials of different hyperparemeters (supports, Confidence). It turns out that the with conditional probabiity of 25%, this gives out 3 frequent item set( of 2 elements): <br>

**('Asp', 'Asn'), ('Tyr', 'Cys'), ('Glu', 'Lys')** 

This will be examined later in this demo.

In addition to the first submission, there is a need for a moer thorough anaysis of the data. To do so, the problem that was not fixed, purposely actually ^^, is that we need to convert the type of attibute **position_of_change** into an **integer** type. It is very simple to do so, we can simply run the following command to our datbase. <br>

> **ALTER TABLE** snp_db **ALTER COLUMN** position_of_change **TYPE INT USING** position_of_change::integer; <br>

From here on, we can do analysis associated with position of chnages and our obtained frequent itemsets obtained from associative rule mining. For simplicity, let's bring in a few functions which will later be used in this demo.

In [17]:
import psycopg2
import pandas as pd
import numpy as np 
from apyori import apriori
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
"""
This connection function will acts as a connection factory as it is in our ConnectionFactory.java 
in this repository.
"""
def connection(user,pwd,host,port,db):
    try:
       connection = psycopg2.connect(user=user,
                                  password=pwd,
                                  host=host,
                                  port=port,
                                  database=db)
       cursor = connection.cursor()
       return cursor
    except (Exception, psycopg2.Error) as error :
        print ("Error while fetching data from PostgreSQL", error)

"""
this select class will return the output from input queries and return, for the moment, as a numpy array object.
"""
user ="postgres"
pwd = "1997"
host ="localhost"
port = "5432"
db= "postgres"
def select(q):
    c = connection(user,pwd,host,port,db)
    c.execute(q)
    arr = np.array(c.fetchall()) 
    return arr

In [18]:
snp =pd.DataFrame(select("select initialAA,finalAA from snp_db"))
snp.columns=[ 'initialAA', 'finalAA']
snps = []
for row in range(0,len(snp)):
    snps.append([str(snp.values[row,j]) for j in range(0,2)])
association_rules = apriori(snps,min_support=0.0093,min_confidence=0.250,min_lift =3,min_length=2)
association_results =list(association_rules)
finals = []
for item in association_results:                                          
#     to display the rule, the support, the confidence, and lift for each rule in a more clear way:

    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])
    finals.append((items[0],items[1]))

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: Asp -> Asn
Support: 0.02075531982874305
Confidence: 0.2836185819070905
Lift: 3.3979078152381406
=====================================
Rule: Cys -> Tyr
Support: 0.021931113809189086
Confidence: 0.25475059382422804
Lift: 4.943690529210497
=====================================
Rule: Lys -> Glu
Support: 0.03155473193175283
Confidence: 0.3694448600927727
Lift: 5.063445976170783
=====================================

# What can see learn from the following rules
we shall try to zoom in into each of an associative frequent itemsets and see what can be drawn from it. For example, we can ask the following questions.
> (1) What type of variants are caused by the obtained rules. <br>
> (2) What are are the positions of change when we specify with obtained initial and final AAs. we can bin this, say, into 3 subintervals. From this quetion, we can deepen the quetion into: once binneed into 3 subintervals, which subinterval containes the largest number of changes recorded  <br>
> (3) What exactly the frequency of those ontained frequent itemset in the scale of our datbase

## (1) What type of variants are caused by the obtained rules

In [19]:
#Prepare the queries for the 3 rules
final_Queries = ["select count(main_gene_name) from snp_db where initialaa='Asp' and finalaa = 'Asn' group by type_of_variant;",
                "select count(main_gene_name) from snp_db where initialaa='Tyr' and finalaa = 'Cys' group by type_of_variant; ",
                 "select count(main_gene_name) from snp_db where initialaa='Glu' and finalaa = 'Lys' group by type_of_variant;"]
records= [select(final_Queries[i]).T.flatten().tolist() for i in range(3)]
framessss = pd.DataFrame(records)
framessss.insert(0,"Rule",["Asp -> Asn", "Tyr -> Cys", "Glu -> Lys"],True)
framessss.columns = ["Rule\Type of Variant","Disease","Polymorphism","Unclassified"] 
#note that pqsl return the count in alphabetical order. 
framessss.set_index(['Rule\Type of Variant'])

                      Disease  Polymorphism  Unclassified
Rule\Type of Variant
Asp -> Asn                457           592           147
Tyr -> Cys                574           285            80
Glu -> Lys                785           813           214

In [22]:
# framessss.to_csv(r'/Users/kriangsak1997/Documents/MUIC/Term8/DBMS/Project/frequent_thingy.csv', index = False)

In [25]:
check = "select * from frequent_things"

Here we go, the above dataframe displays different types of variants based on the given associative rules. 
It is obvious to see that  2 out of 3 rules (Asp -> Asn,Glu -> Lys), when these changes occur, they give rise to polymorphism more than the other two types of genetic variations

## (2) Binning of positions of changes
like we said earilier, we would like to know What are are the positions of change when we specify with obtained initial and final AAs. we can bin this, say, into 3 subintervals. From this quetion, we can deepen the quetion into: once binneed into 3 subintervals, which subinterval containes the largest number of changes recorded. Here is the plans of what we are going to do in the next few cells <br>

> First, we want to bin the entire dataset <br>
> Second, we will do the same for each of the 3 obtained assiciative frequent itemset.<br>
> finally, we will compare the result accordingly.

### Binning the whole dataset

In [12]:
counts, bins = np.histogram(select("select position_of_change from snp_db"),3)
# plt.hist(bins[:-1], bins, weights=counts)